* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
}

::-webkit-scrollbar {
    width: 0px;
}

.hero-banner-img {
    position: absolute;
    right: 2.5rem;
    top: 0px;
    width: 43.75rem;
    height: 56.25;
    margin-top: -20.625rem;
}

.search-btn:hover {
    color: #FF2625 !important;
    border: 1px solid #FF2625 !important;
}

@media screen and (max-width:1200px) {
    .hero-banner-img {
        display: none;
    }
}